<footer class="text-center text-white" style="background-color:#61D4C8;">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4 ">
       
         <!-- creative commons -->
         <a
         class="btn btn-link btn-floating btn-lg text-dark m-1"
         href="https://creativecommons.org/"
         role="button"
         data-mdb-ripple-color="dark"
         target="_blank"
         ><i class="fa fa-creative-commons" aria-hidden="true"></i></a>

  
        <!-- Instagram -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.instagram.com/"
          role="button"
          data-mdb-ripple-color="dark"
          target="_blank"
          ><i class="fab fa-instagram"></i
        ></a>
  
       
        <!-- Github -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://github.com/BeitxuelaWEB/Codigo_Stack_Frontend"
          role="button"
          data-mdb-ripple-color="dark"
          target="_blank"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  </footer>
