  <nav class="navbar navbar-expand-lg " aria-label="Fifth navbar example">
    <div class="container-fluid mx-4">
      <a class="navbar-brand" href="#"><img src="/assets/img/applogoCSTK.png" class="logo" ></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul class="navbar-nav me-auto mb-3 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Log in</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
    <form class="searchBar mt-4 mx-5 mb-3">
      <input class="searchForm form-control " type="text" placeholder="Search" aria-label="Search">
    </form>
  