<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style src="/src/app/post/post.component.scss"></style>
</head>
<body>
    <div class="post rounded">
        <div>
              <h1>Introducción para principiantes #JavaScript</h1>
            <p>JavaScript (JS) es un lenguaje de programación ligero, interpretado, o compilado justo-a-tiempo (just-in-time) con funciones de primera clase. Si bien es más conocido como un lenguaje de scripting (secuencias de comandos) para páginas web..................</p>
            <p>Posted by Mohamed Aberkani 12hr ago</p>
        </div>
        <div>Imagen</div>
    </div>
    <div class="post rounded">
        <div>
              <h1>Introducción para principiantes #JavaScript</h1>
            <p>JavaScript (JS) es un lenguaje de programación ligero, interpretado, o compilado justo-a-tiempo (just-in-time) con funciones de primera clase. Si bien es más conocido como un lenguaje de scripting (secuencias de comandos) para páginas web..................</p>
            <p>Posted by Mohamed Aberkani 12hr ago</p>
        </div>
        <div>Imagen</div>
    </div>
    <div class="post rounded">
        <div>
              <h1>Introducción para principiantes #JavaScript</h1>
            <p>JavaScript (JS) es un lenguaje de programación ligero, interpretado, o compilado justo-a-tiempo (just-in-time) con funciones de primera clase. Si bien es más conocido como un lenguaje de scripting (secuencias de comandos) para páginas web..................</p>
            <p>Posted by Mohamed Aberkani 12hr ago</p>
        </div>
        <div>Imagen</div>
    </div>
    <div class="post rounded">
        <div>
              <h1>Introducción para principiantes #JavaScript</h1>
            <p>JavaScript (JS) es un lenguaje de programación ligero, interpretado, o compilado justo-a-tiempo (just-in-time) con funciones de primera clase. Si bien es más conocido como un lenguaje de scripting (secuencias de comandos) para páginas web..................</p>
            <p>Posted by Mohamed Aberkani 12hr ago</p>
        </div>
        <div>Imagen</div>
    </div>
</body>
</html>