<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style src="/src/app/post/post.component.scss"></style>
</head>
<body>
    <div class="post">
    <div>
        <h1>Título</h1>
    </div>
    <div>
        <h3>Texto</h3>
    </div>
    <div>Imagen</div>
    <!-- Autor -->
    <div>Posted by</div>
    </div>
    <div class="post">
        <div>
            <h1>Título</h1>
        </div>
        <div>
            <h3>Texto</h3>
        </div>
        <div>Imagen</div>
        <!-- Autor -->
        <div>Posted by</div>
        </div>
        <div class="post">
            <div>
                <h1>Título</h1>
            </div>
            <div>
                <h3>Texto</h3>
            </div>
            <div>Imagen</div>
            <!-- Autor -->
            <div>Posted by</div>
            </div>
            <div class="post">
                <div>
                    <h1>Título</h1>
                </div>
                <div>
                    <h3>Texto</h3>
                </div>
                <div>Imagen</div>
                <!-- Autor -->
                <div>Posted by</div>
                </div>
</body>
</html>