<p>postdetails works!</p>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<section class="post-list-home d-flex justify-content-center mx-5">
  <div class="card-group d-flex flex-column justify-content-center ">
    <div div class="post-list-card card flex-row rounded my-2 ">
      <h5 class="card-title">{{ post.id }}</h5>
      <h5 class="card-title">{{ post.postName }}</h5>
      <img class="card-img-thumbnail rounded-start" src="{{ post.url }}" alt="Card image cap" />
      <div class="card-body">
        <p class="card-text">{{ post.description }}</p>
        <p class="card-text">{{ post.voteCount }}</p>
      </div>
    </div>
  </div>
</section>