<section class="new-post d-flex flex-column justify-content-center">
  <app-navbar></app-navbar>
      <section class="post-container mx-5">
        <article class="mx-5">
          <div class="post-input-container card mx-5 p-5 " style="width: 100rem;">
            <div class="form-floating mx-3">
              <textarea class="form-control " placeholder="Escribir aquí...." id="floatingTextarea2" style="height: 100px"></textarea>
              <label for="floatingTextarea2" class="fs-4">Escribe aquí tu nuevo post....</label>
            </div>
          </div>
        </article>
      </section>
</section>

<div class="d-flex justify-content-center">
  <button class="btn btn-new fs-6 fw-semibold m-3">+Img</button>
  <button class="btn btn-new fs-6 fw-bolder m-3">Publicar</button>
  <button class="btn btn-new fs-6 fw-semibold m-3">+url</button>
</div>