.nav-item{
    color:red;
}
img, svg {
    vertical-align: middle;
    height: 98px;
    position: absolute;
}

.post-input-container {
    background-color: #5EEAD4;
}

.btn-new {
    background-color: #91F0E6;
    border-color: #1F2937;
    border-width: 0.15rem;
    color: #1F2937;
}

.btn-save {
    background-color: #91F0E6;
    border-color: #1F2937;
    border-width: 0.15rem;
    color: #1F2937;
}
