<section class="new-post d-flex flex-column justify-content-center">
  <app-navbar></app-navbar>
      <section class="post-container mx-5">
        <article class="mx-5">
          <div class="post-input-container card mx-5 p-5 ">
            <div class="form-floating mx-3">
                      <div class="submit-form">
                  <div *ngIf="!submitted">
                    <div class="form-group">
                      <label for="title">Title</label>
                      <input
                        type="text"
                        class="form-control"
                        id="title"
                        required
                        [(ngModel)]="post.postName"
                        name="title"
                      />
                    </div>
                    <div class="form-group">
                      <label for="url">Img url</label>
                      <input
                        class="form-control"
                        id="url"
                        required
                        [(ngModel)]="post.url"
                        name="url" />
                    </div>
                    <div class="form-group">
                      <label for="description">Description</label>
                      <input
                        class="form-control"
                        id="description"
                        required
                        [(ngModel)]="post.description"
                        name="description"
                      />
                    </div>
                    <div class="form-group">
                      <label for="voteCount">voteCount:</label>
                      <input
                        class="form-control"
                        id="voteCount"
                        required
                        [(ngModel)]="post.voteCount"
                        name="voteCount" />
                    </div>
                    <button (click)="savePost()" class="btn btn-success">Submit</button>
                  </div>
                  <div *ngIf="submitted">
                    <h4>Tutorial was submitted successfully!</h4>
                    <button class="btn btn-success" (click)="newPost()">Add</button>
                  </div>
                </div>
              </div>
            </div>
      </article>
    </section>
</section>
