
<body>

    <h1 style="text-align: center; color: #290981; font-family: 'Oswald', sans-serif, cursive; width: 100%;">
      Código Stack</h1>
      <div class="card">
        <img
          src="https://mdbootstrap.com/img/new/standard/nature/184.webp"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the
            card's content.
          </p>
        
        </div>
      </div>

     <div class="card">
  <img
    src="https://mdbootstrap.com/img/new/standard/nature/184.webp"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the
      card's content.
    </p>
  
  </div>
</div>
  
  </body>
